{:builds
   {:app
      {:asset-path "/js",
       :devtools {:http-port 3000, :http-root "public"},
       :modules {:main {:init-fn app.core/main}},
       :output-dir "public/js",
       :target :browser},
    :e2e
      {:autorun true,
       :ns-regexp "e2e.*",
       :output-to "out/e2e.js",
       :target :node-test},
    :test
      {:autorun true,
       :ns-regexp "app.*-spec$",
       :output-to "out/test.js",
       :target :node-test}},
 :dependencies [[reagent "0.8.1"] [funcool/promesa "4.0.2"]],
 :nrepl {:port 3333},
 :source-paths ["src" "e2e"]}
