{:builds
   {:e2e
      {:autorun true,
       :ns-regexp "e2e.*",
       :output-to "out/e2e.js",
       :target :node-test},
    :lib
      {:exports-var create-cljs-app.lib/exports,
       :output-to "dist/lib.js",
       :target :node-library},
    :test
      {:autorun true,
       :ns-regexp "create-cljs-ap.*-spec$",
       :output-to "out/test.js",
       :target :node-test}},
 :dependencies [],
 :nrepl {:port 3333},
 :source-paths ["src"]}
