{:builds
   {:e2e {:ns-regexp "e2e.*", :output-to "out/e2e.js", :target :node-test},
    :lib
      {:exports-var create-cljs-app.lib/exports,
       :output-to "dist/lib.js",
       :target :node-library},
    :test
      {:ns-regexp "create-cljs-ap.*-spec$",
       :output-to "out/test.js",
       :target :node-test}},
 :dependencies [],
 :nrepl {:port 3333},
 :source-paths ["src"]}
